@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Noto Sans KR', sans-serif;
    height: 100%;
}

html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#memo-audio-player::-webkit-media-controls-panel {
    background-color: #EFEBE5;
}

#memo-audio-player {
    background-color: #EFEBE5;
    border-radius: 12px;
    margin: 12px 0;
}